.wrapper{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  min-width: 300px;
  z-index: 9999;
  
}
.title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.notification{
  margin-bottom: 10px;
}
