.wrapper{
  --border-radius: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.pagination{
  button{
    cursor: pointer;
    height: 38px;
    min-width:48px;
    border:1px solid #3335;
    background-color:#666;
    color:#fff;
    &:hover{
      background-color:#444;
    }
  }
  button[disabled]{
    background-color:#444;
    cursor: default;
  }
}
// .btn-first-page,.btn-last-page,.btn-prev-page,.btn-next-page{
//   font-weight: 700;
//   font-size: 1.5rem;
// }
// .btn-between{
//   font-weight:700;
// }
.btn-first-page{
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.btn-last-page{
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
